#   Pycharm files  #
####################
/**/*.pyc
*.pyc
/*.pyc
.idea/*.iml
.idea/*.xml

#   Pycharm Folder #
####################
.idea


#   Error folder   #
####################
/errors/*.*
/errors/


#    Workspace     #
####################
.idea/workspace.xml



modules/core/*.pyc
