#   Pycharm files  #
####################
/**/*.pyc
*.pyc
/*.pyc
.idea/*.iml
.idea/*.xml

#   Pycharm Folder #
####################
.idea


#   Error folder   #
####################
/errors/*.*
/errors/


#    Workspace     #
####################
.idea/workspace.xml


*.pyc
*.html
*.js
*.css
*.json
modules/core/*.pyc
modules/services/*.pyc
modules/services/dbservices/*.pyc
